/* Global styles */
body {
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text color */
    font-family: Arial, sans-serif; /* Font family for text */
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Center items vertically */
    padding: 20px;
    background-color: #1f1f1f;
    margin-bottom: 40px; /* Margin between header and main content */
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 30px; /* Space between navigation links */
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main content area */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

/* Image container */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 500px; /* Adjust the gap between images */
    margin-top: 20px;
    padding: 0 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 500px;
    min-height: 150px;
    transition: none; /* Disable transitions */
}



/* Media query for smaller screens */
@media (max-width: 768px) {
    header {
        justify-content: center; /* Center align navigation links */
        margin-bottom: 10px; /* Reduced margin between header and main content */
    }

    nav ul li {
        margin-left: 10px; /* Reduce space between navigation links */
    }

    .image-container {
        gap: 10px; /* Adjusted gap between images for smaller screens */
        padding: 0 10px; /* Adjusted padding around the images */
        margin-top: 10px; /* Reduced margin above the image container */
    }
}
